{% extends 'base.html' %}
{% load static %}

{% block header %}
<h1>
  Mes opérations
  <small>{{ budget.name }}</small>
</h1>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Mes opérations plannifiées</h3>
    <div class="box-tools">
      #Ajout d'opération ici
    </div>
  </div>
  <div class="box-body no-padding">
    <table class="table">
      <tbody>
        <tr>
          <th>Opération</th>
          <th>Compte</th>
          <th>Compensation</th>
          <th>Montant</th>
          <th>Date</th>
      </tr>
        {% for entry in next_entries %}
        <tr {% if entry.amount >= 0 %} class="table-operations-income" {% else %} class="table-operations-expense" {% endif %}>
          <td>{{ entry.name }}</td>
          <td>{{ entry.account.name }}</td>
          <td>{{ entry.compensation_account.name }}</td>
          <td>{{ entry.amount }}</td>
          <td>{{ entry.date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
{% endblock %}
