{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pineapple</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/skins/skin-blue.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/pineapple.css' %}">

  {% block stylesheets %}
  {% endblock %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <!-- LOGO -->
    <a href="#" class="logo">
      <span class="logo-mini"><b>P</b></span>
      <span class="logo-lg"><b>P</b>ineapple</span>
    </a>

    <!-- NAVBAR -->
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle fa fa-bars" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'dist/img/julien.jpg' %}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ request.user.first_name }} {{ request.user.last_name  }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="{% static 'dist/img/julien.jpg' %}" class="img-circle" alt="User Image">
                <p>
                  {{ request.user.first_name }} {{ request.user.last_name }}
                  <small>Compte créé {{ request.user.date_joined|naturaltime }}</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Paramètres</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Déconnexion</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- SIDEBAR MENU -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="active">
          <a href="#">
            <i class="fa fa-tachometer-alt"></i>
            <span>Tableau de bord</span>
          </a>
        </li>
        <li class="header">Mes finances</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-piggy-bank"></i>
            <span>Comptes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% for budget in request.user.budget_set.all %}
            <li><a href="{% url 'accounts' budget.id %}">{{ budget.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-euro-sign"></i>
            <span>Opérations</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% for budget in request.user.budget_set.all %}
            <li><a href="{% url 'operations' budget.id %}">{{ budget.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-wrench"></i>
            <span>Paramètres</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Budgets</a></li>
            <li><a href="#">Comptes</a></li>
          </ul>
        </li>
        <li class="header">Mon cellier</li>
        <li>
          <a href="#">
            <i class="fa fa-wine-bottle"></i>
            <span>Ma cave</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>

  <!-- CONTENT -->
  <div class="content-wrapper">
    <section class="content-header">
      {% block header %}
      {% endblock %}
    </section>
    <section class="content container-fluid">
      {% block content %}
      {% endblock %}
    </section>
  </div>

  <!-- FOOTER -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Propulsé par <a href="https://www.djangoproject.com/" target="_blank">Django</a> et <a href="https://adminlte.io/" target="_blank">AdminLTE</a>
    </div>
    <strong>&copy; 2018 <a href="https://www.facebook.com/jryckoort" target="_blank">Julien Ryckoort</a>.</strong> Tous droits réservés.
  </footer>
</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

{% block scripts %}
{% endblock %}

</body>
</html>
